# Python
venv/
__pycache__/
*.pyc

# Node.js
web/node_modules/
web/build/

# Logs
logs/

# Data
data_gen/data/
web/src/data/simulationData.js

# Models
models/*.h5
models/*.tflite
models/*.json
models/*.png
models/*.txt

# OS specific
.DS_Store

# Environment variables
.env

# Recipient phone number
recipient_number.txt
