# Python
venv/
__pycache__/
*.pyc

# Node.js
web/node_modules/
web/build/

# Logs
logs/

# Data
data-gen/data/

# Models
models/*.h5
models/*.tflite
models/*.json
models/*.png
models/*.txt

# OS specific
.DS_Store

# Environment variables
.env

# Data generation code (no longer needed after training and quantization)
data-gen/